#settings {
  position: absolute;
  top: 10px;
  left: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

.switch-block:not(:first-child) {
  margin-top: 5px;
}

.switch-block .switch:not(:first-child) {
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.slider.round {
  border-radius: 23px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-group button {
  background-color: #2196F3;
  border: 1px solid #2196F3;
  border-radius: 5px;
  color: white;
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
  float: left;
}

.btn-group:not(:first-child) {
  margin-top: 5px;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #0d3e62;
}

#turn-btns button {
  width: 42px;
  padding: 6px 0;
}

@font-face {
  font-family: 'lemonmilk';
  src: url('../fonts/LEMONMILK-Regular.otf');
}

#result {
  position: absolute;
  margin: auto;
  top: 15px;
  left: 0;
  right: 0;
  width: 70px;
  color: black;
  font-family: 'lemonmilk', Arial, sans-serif;
  font-size: 60px;
  cursor: default;
  background-color: white;
  border-radius: 2px;
  text-align: center;
}

.hidden {
  display: none;
}

#result.correct {
  background-color: lawngreen;
}

#result.incorrect {
  background-color: red;
}

#stats {
  margin-top: 5px;
  color: white;
}

.settings-section {
  margin-top: 5px;
  background-color: #FFFFFF;
  padding: 5px;
}

.settings-section .heading {
  font-weight: bold;
}
